# This is a basic workflow that is manually triggered
name: staging

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "greet"
  build:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
        working-directory: app

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        timeout-minutes: 5

      - name: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: install node_modules
        run: npm install

      - name: copy env
        run: cp .env.staging .env

      - name: webpack build
        run: npm run webpack:build

      - name: static generate
        run: npm run generate

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./app/public
